.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1.6rem 0;
  background-color: #2249e6;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  flex: 1;
}

.expense-item h2 {
  color: #3a3a3a;
  font-size: 1.6rem;
  flex: 1;
  color: white;
}

.expense-item__price {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: #b09600;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 1.2rem;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  transition: all 0.3s ease;
}

.delete-button:hover {
  background-color: #b09600;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    text-align: right;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.8rem;
  }

  .expense-item__price {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
}
