.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: 1.6rem 0;
  border-radius: 1.2rem;
  background-color: #4b4b4b;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  flex: 1;
}

.expense-item h2 {
  color: #3a3a3a;
  font-size: 1.6rem;
  flex: 1;
  margin: 0 1.5rem;
  color: white;
}

.expense-item__price {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 1.2rem;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    text-align: right;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.8rem;
  }

  .expense-item__price {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
}
