.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 580px) {
  .new-expense__controls {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }
}

.new-expense__control label {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 0.6rem;
  border: 1px solid #ccc;
  width: 25rem;
  max-width: 100%;
}

.new-expense__actions {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

@media screen and (min-width: 580px) {
  .new-expense__actions {
    justify-content: right;
  }
}

.error-message {
  width: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  background-color: #fff;
  margin-inline: auto;
  margin-top: 1.5rem;
}

@media screen and (min-width: 580px) {
  .error-message {
    width: 30%;
    margin-inline: 0;
    margin: 0;
  }
}
